/* ES1 */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 2s;
}
.ex-1-square:hover {
    background-color: red;
}
/* ES2 */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 3s, height 3s;
}
.ex-2-square:active {
    height: 300px;
    width: 500px;
    cursor: e-resize;
}
/* ES3 */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 3s cubic-bezier(0.76, 0.76, 0.1, 1.04);
}
.ex-3-square:hover {
    border-radius:50%;
}
/* ES4 */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 3s;
}
.ex-4-square:hover {
    opacity: 0;
}
/* ES5 */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: width 2s, height 2s;
}
.ex-5-square:hover{
    width: 120px;
    height: 120px;
}
.ex-5-square:active{
    width: 2px;
    height: 2px;
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
/* ES6  */
.ex-6-img:hover{
    filter:grayscale();
}
/* ES7 */
.ex-7-img{
    transition: filter 2s;
}
.ex-7-img:hover{
    filter: contrast(2) grayscale();
}
/* ES8 */
.ex-8-img{
    transition: filter 2s, border-radius 1s;
}
.ex-8-img:hover{
    filter: contrast(2) hue-rotate(50deg) ;
    border-radius: 2rem;
}
/* ES9 */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-9-img{
    transition: filter 2s, border-radius 1s, width 3s, height 3s;
}
.ex-9-img:hover{
    filter: contrast(2) hue-rotate(50deg) ;
    border-radius: 2rem;
    width:500px;
}
.ex-10-icon {
    font-size: 60px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    from {transform: rotate(0deg)}
    to{transform: rotate(360deg)}
    
}
.ex-11-icon {
    font-size: 60px;
    animation: spin2 2s linear infinite;
}
@keyframes spin2 {
    0% {transform: rotate(0deg)}
    75% {transform: rotate(270deg)}
    100% {transform: rotate(0deg)}
    
}
.ex-11-icon:hover {
    animation: spin2 2s linear infinite;
}
@keyframes spin2 {
    0% {transform: rotate(0deg)}
    80% {transform: rotate(270deg)}
    100% {transform: rotate(0deg)}
    
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
